{% load static %}
<html>
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Colocacion</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'accounts/index.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <style>
 
  </style>
  <body>

<div class="caption1"><h1>COLOCACION</h1><small>A JOB RECOMMENDATION SYSTEM</small></div>
<div class="caption">
            <blockquote>You one stop for Job recommendations<br>Job search ends here!
            </blockquote>
   </div>
<div class="img-overlay">
 <button class="btn btn-lg btn-success btn-block" onclick="location.href='{% url 'accounts:login' %}'">SIGN IN NOW<span class="glyphicon glyphicon-chevron-right"></button></a>
</div>
</div>
  </body>
  </html>
