{% extends 'users/base.html' %}
{% block content %}
<div id="pricing" class="container-fluid">
 
  <div class="row slideanim">
    <div class="col-sm-8 col-xs-10">
      <div class="panel panel-default text-center">
        <div class="panel-heading" style="background-color:#012951;color:white">
          <h1>Jobs you may like</h1>
        </div>
        <div class="panel-body" style="text-align: left">
            {% for job in jobs %}
            
          <h3><a for="job{{ forloop.counter }}" href="{% url 'jobs:job_detail' job_id=job.job_id %}">{{ forloop.counter }}. {{ job.job_title }}</a></h3>
          <h5><i>Job Role:</i> {{ job.job_role }}  {{ job.job_type }}<br><br>
              <i>Experience:</i> {{ job.experience_required }} 
              <i>Salary:</i> {{ job.salary }} lakh
              </h5>
          <br>
          {% endfor %}
        </div>
        
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-2">
      <div class="panel panel-default text-center">
        <div class="panel-heading" style="background-color:#012951;color:white">
          <h1>Filter Jobs</h1>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-success btn-arrow-right">Salary (high to low)</button>
		      <button type="button" class="btn btn-success btn-arrow-right">Location</button>
					<button type="button" class="btn btn-success btn-arrow-right">Job Type</button>

        </div>
       
      </div>      
    </div>       
    
  </div>
</div>
{% endblock %}
