{% extends 'users/base.html' %}
{% block content %}
<div class="container" style="margin-top: 20px;width: 800px;">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color:#012951;color:white; text-align: center"><h2>Job Description</h2></div>
    <div class="panel-body" style="overflow: auto;">
     
          <a href=""><h3>{{ job.job_title }}</h3></a>
          <h5 class="sub-head">Job Role: {{ job.job_role }}  {{ job.job_type }}<br><br>
              Experience: {{ job.experience_required }} years<br><br>
              Salary : {{ job.salary }} p.a <br><br>
              Location : {{ job.location }} <br><br>
              Skills set : {{ job.skills_set }} <br><br>
              Job Description : <br><br> {{ job.desc }}

          </h5>
          {% if message == "disable" %}
            <button type="button" class="btn btn-success" disabled>Already applied</button>
          {% else %}
          <button type="button" class="btn btn-success" onclick="location.href='{% url 'jobs:apply' job_id=job.job_id %}'">Apply to this Job</button>
          {% endif %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
