{% extends 'users/base.html' %}
{% block content %}
<div id="pricing" class="container-fluid">
 
  <div class="row slideanim">
    <div class="col-sm-8 col-xs-10">
      <div class="panel panel-default text-center">
        <div class="panel-heading" style="background-color:#012951;color:white">
          <h1>My Tests</h1>
        </div>
        <div class="panel-body">
            <h1>{{message}}</h1>
            {% for test in tests %}
            
          <h3 for="test{{ forloop.counter }}">{{ test.test_id }}</h3>
          <h4>Your score:{{ test.marks_obtained }}</h4>
          {% endfor %}
        </div>
        
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-2">
      <div class="panel panel-default text-center">
        <div class="panel-heading" style="background-color:#012951;color:white">
          <h1>Take Tests</h1>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-success btn-arrow-right" onclick="location.href='{% url 'users:taketests' tlevel='easy' %}'">EASY</button>
		      <button type="button" class="btn btn-success btn-arrow-right" onclick="location.href='{% url 'users:taketests' tlevel='medium' %}'">MEDIUM</button>
					<button type="button" class="btn btn-success btn-arrow-right" onclick="location.href='{% url 'users:taketests' tlevel='difficult' %}'">Difficult</button>
        </div>
       
      </div>      
    </div>       
    
  </div>
</div>
{% endblock %}