body {
    background: url("images/7.jpg") no-repeat center fixed;
    background-size: cover;
}

.img-overlay {
  position: absolute;
  margin-top:530px;
  margin-left:630px;
  
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.caption1 {
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
	text-align:center;

}
.caption1 h1
{
 color:white;
 font-size:55px;
}
small
{
font-size:18px;
color:white;
}
blockquote
{
font-size:35px;
color:white;
text-align:center;
}